:root {
    --main-bg-color: #ffb3ae;
    --main-detail-color: #f47068;
    --part-bg-color: #1697a6;
    --part-detail-color: #0e606b;
    --separate-color: #ffc24b;
    --separate-color: #fff4f1;
    --eye-movement: 0.06em;
    --inner-eye-horizontal: 0em;
    --inner-eye-vertical: 0em;

}

html,
body,
html * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

main {
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(155, 176, 194);

}

#authform {
    min-width: 35em;
    width: 30%;
    height: 6em;

    padding: 0.3em 0.5em;
    background-color: rgb(209, 167, 228);
    display: grid;
    grid-template-columns: 1.5fr 5fr 0.75fr 2fr;
    row-gap: 0.5em;
    column-gap: 0.2em;
}


#authform * {
    user-select: none;
}

#authform .labelwrapper {
    display: flex;
    align-items: center;
    grid-column-start: 1;

}

#authform label {
    font: 1.1em sans-serif;
    display: flex;
    align-content: space-between;
}

#authform input {
    font: 1.1em sans-serif;
    padding: 0 0.3em 0 0.3em;
    border: 0.1em solid #fff;
    border-radius: 0.3em;
}


#authform input:focus {
    outline: none;
    border: 0.1em solid rgb(122, 0, 71);
    outline: 0.13em solid rgb(122, 0, 71);
}

#authform #login {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    font: 1.3em sans-serif;
}

.icon { 

    margin: -0.3em 0 0 -0.3;

    color: rgb(48, 3, 41);

    overflow-x: hidden;
    overflow-y: hidden;

    
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


.icon:active {
    transform: translate(0.1em, 0.15em);
}
/* .icon:has(.emoji.down) {
    margin: -0.5em 0em -0.8em 0em;
} */


.eye {
    grid-row: 1;
    grid-column: 1;

    align-self: center;
    justify-self: center;

    width: 1.5em;
    height: 1.5em;

    outline: black 0.18em solid;
    border-radius: 66% 8%;
    
    rotate: 45deg;

    box-shadow: 0.3em 0em 0.15em #202020d0;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

.inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    rotate: -45deg;
}

.icon:active .eye {
    box-shadow: none;
    border-radius: 60% 8%;

}

.eye.x-center.y.center .inner {
    --inner-eye-horizontal: 0em;
    --inner-eye-vertical: 0em;
}

.eye.x-center.y-up .inner {
    --inner-eye-horizontal: 0em;
    --inner-eye-vertical: -0.06em;
}

.eye.x-center.y-down .inner {
    --inner-eye-horizontal: 0em;
    --inner-eye-vertical: 0.06em;
}

.eye.x-left.y-center .inner {
    --inner-eye-horizontal: -0.08em;
    --inner-eye-vertical: 0em;
}

.eye.x-right.y-center .inner {
    --inner-eye-horizontal: 0.08em;
    --inner-eye-vertical: 0em;
}

.eye.x-left.y-up .inner {
    --inner-eye-horizontal: -0.08em;
    --inner-eye-vertical: -0.06em;
}

.eye.x-right.y-up .inner {
    --inner-eye-horizontal: 0.08em;
    --inner-eye-vertical: -0.06em;
}

.eye.x-left.y-down .inner {
    --inner-eye-horizontal: -0.08em;
    --inner-eye-vertical: 0.06em;
}

.eye.x-right.y-down .inner {
    --inner-eye-horizontal: 0.08em;
    --inner-eye-vertical: 0.06em;
}

.iris {
    transform: translate(var(--inner-eye-horizontal), var(--inner-eye-vertical));
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 1;
    align-self: center;
    justify-self: center;

    width: 0.8em;
    height: 0.8em;

    outline: black 0.18em solid;

    background-color: rgba(255, 255, 255, 0);	
    border-radius: 50%;
    
    padding: 0;

    transition: transform 0.4s;

}

.pupil {
    transform: translate(calc(var(--inner-eye-horizontal)*2), calc(var(--inner-eye-vertical)*2));
    margin-right:0;
    margin-left:0;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 1;
    align-self: center;
    justify-self: center;

    background-color: black;
    border-radius: 50%;
    width: 0.3em;
    height: 0.3em;

    transition: transform 0.4s;
}

.icon:active .pupil {
    
    width: 0.6em;
    height: 0.6em;
}

    

